<!-- <section class="container py-5" id="about">
<div class="container">
    <br>
    <strong class="display-6">My Educational Background:</strong>
    <br>
    <ul>
        <li>Master Of Computer Application MCA - Nishitha Degree College, Nizamabad (2023–2025)</li>
        <dl>-Pursuing</dl>
        <li>Bachelor Of computer Science Bsc - Vijetha Degree College, Armoor (2019–2022)</li>
        <dl>-7.28 GPA</dl>
        <li>MPC - Kshatriya Junior College, Armoor (2017–2019)</li>
        <dl>-60.3%</dl>
        <li>Narendra High School, Armoor (2016–2017)</li>
        <dl>-7.5 GPA</dl>
    </ul>
</div>
</section> -->
<section class="container py-5" id="about">
  <h2 class="text-center mb-4 text-white">About Me</h2>
  <div class="row align-items-start">
    <!-- Optional Image Column -->
    <div class="col-md-8 text-center d-none d-md-block">
    </div>

    <!-- Content Column -->
    <div class="col-md-8 mt-4 mt-md-0 text-white">
      <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item bg-transparent text-white"><strong>Email:</strong> hithenjessu&#64;gmail.com</li>
        <li class="list-group-item bg-transparent text-white"><strong>Location:</strong> Nizamabad</li>
      </ul>

      <h5 class="mb-3">Educational Background</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-transparent text-white">
          <strong>Master of Computer Applications:</strong> Nishitha Degree College, Nizamabad (2023–2025)<br>
          <small>- Pursuing</small>
        </li>
        <li class="list-group-item bg-transparent text-white">
          <strong>Bachelor of Computer Science:</strong> Vijetha Degree College, Armoor (2019–2022)<br>
          <small>- 7.28 GPA</small>
        </li>
        <li class="list-group-item bg-transparent text-white">
          <strong>MPC:</strong> Kshatriya Junior College, Armoor (2017–2019)<br>
          <small>- 60.3%</small>
        </li>
        <li class="list-group-item bg-transparent text-white">
          <strong>High School:</strong> Narendra High School, Armoor (2016–2017)<br>
          <small>- 7.5 GPA</small>
        </li>
      </ul>
    </div>
  </div>
</section>


