<section class="container" id="projects">
  <h2 class="text-center mb-4 text-white">My Projects</h2>

  <div class="row justify-content-center">
    <!-- Project 1 -->
    <div class="col-md-5 mb-4">
      <div class="card project-card h-100">
        <div class="card-body text-center">
          <h5 class="card-title">Employee Management System</h5>
          <p class="card-text">
            An Angular web app for managing Employee Records.
          </p>
          <p>For Demo You can Contact me </p>
        </div>
      </div>
    </div>

    <!-- Project 2 -->
    <div class="col-md-5 mb-4">
      <div class="card project-card h-100">
        <div class="card-body text-center">
          <h5 class="card-title">Portfolio Website</h5>
          <p class="card-text">
            This personal site built with Angular & Bootstrap.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
