<section class="container py-5" id="hero">
  <div class="row align-items-center">
    <div class="col-md-6 text-center text-md-start">
      <h1 class="display-4 fw-bold">Hi, Im Hithen Jessu</h1>

<p class="lead">
  I'm into
  <br>
   <span class="typewriter">{{ displayText }}</span>
</p>


      <p>I love building clean, modern web apps with Angular.</p>
      <a href="/assets/Hithen_J_Resume.pdf" download class="btn btn-primary mt-3">Download Resume</a>
    </div>
    <div class="col-md-6 text-center mt-4 mt-md-0">
      <img src="/assets/lb.jpg" alt="Profile" class="border border-primary">
    </div>
  </div>
</section>
